# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/vc10/libzmq.dll
/vc10/mcafee_threat_wall.opensdf
/vc10/mcafee_threat_wall.sdf
/vc10/mcafee_threat_wall.suo
/vc10/mcafee_threat_wall.vcxproj.user
/vc10/Debug
/vc10/ipch
/vc10/Release